<% provide(:title, 'About') %>
<h1>About Page</h1>
<p>
  This will be a holiday request system.  I built it originally using <%= link_to "this tutorial", 'http://ruby.railstutorial.org/chapters/beginning'%>.<br>
	I then integrated google auth using <%= link_to "openid gems", 'http://blog.sethladd.com/2010/09/ruby-rails-openid-and-google.html'%> and <%= link_to "this event calendar", 'https://github.com/elevation/event_calendar'%> and 'multi-user'-ed it.
</p>
