<div class="center hero-unit">
  <h1>MI Holiday Calendar</h1>

  <h2>
    This doesn't do much...yet
  </h2>

  <%= link_to "Sign in!", signin_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>