<% if current_user?(user) %>
	<li class="current-user-row">
<% else %>
	<% if current_user.following?(user) %>
		<li class="following-user-row">
		<% else %>
		<li class="notfollowing-user-row">
		<% end %>
<% end %>
  <span class="gravatar-padded"><%= link_to gravatar_for(user, size: 52), 'https://en.gravatar.com/site/login', target: '_blank' %></span>
  <%= link_to full_name_for(user) , user %>
  <span class="capsemail"><%= user.email %></span>
  <% if current_user.admin? && !current_user?(user) %>
  <%= link_to raw("<i class='icon-trash'></i>"), user, method: :delete,
                                    data: { confirm: "Really Delete?" } %>
  <% end %><br>
  <% if signed_in? %>
  	<% unless current_user?(user) %>
    	<span>
		<% if current_user.following?(user) %>
			<span class="following-text">Following</span>
    	<% else %>
			<span class="notfollowing-text">Not Following</span>
    	<% end %>
    	</span>
  <% end %>
  <% end %>
</li>