<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to full_name_for(user) , user %>
  <span class="capsemail"><%= user.email %></span>
  <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "delete", user, method: :delete,
                                    data: { confirm: "You sure?" } %>
    <% end %>
</li>