<% provide(:title, @user.first_name) %>
<h1>
  <%= link_to gravatar_for(@user, size: 52), 'https://en.gravatar.com/site/login', target: '_blank' %>
  <%= full_name_for(@user) %>
</h1>
<h5>
<%= @user.email%>
</h5>